<%= button_to "logout", destroy_user_session_path, method: :delete, class: 'logout'  %>
<a href="<%=new_user_post_path(current_user.id)%>" class="new-comment">
  Add a new post
</a>
<% @users.each do |user| %>
  <div class="user-container">
    <div class="user-pic-container"> 
      <a href="/users/<%= user.id%>" class="link-to-desc">
         <img src=<%=user.Photo %> class: "user-image"/>
      </a>
    </div>
    <div class="user-name-container">
      <a href="/users/<%= user.id%>">
        <p class="user-name"><%= user.Name %></p>
      </a>
      <p class="num-of-posts">Number of posts: <%= user.PostsCounter %></p>
    </div>
  </div>
<%end%>